modules = ["nodejs-20", "web"]
run = "pwd"

[nix]
channel = "stable-25_05"
packages = ["lsof"]

[deployment]
run = ["sh", "-c", "pwd"]

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 5175
externalPort = 80
